{% extends 'base.html' %}

{% block content %}
<h1 class="text-center pt-5">Student Dashboard</h1>
<div class="row">
    <div class="col-lg mt-4">
        <div class="card">
            <h2 class="card-title m-4" style="text-align: center;">Current Lesson</h2>
            <div class="row">
                <div class="col-sm-4">
                    {% if lesson.image %}
                        <img src="{{ lesson.image.url }}" alt="Image" class="img-thumbnail rounded mx-4">
                    {% endif %}
                </div>
                <div class="col-sm-8">
                    <h4 class="mx-4">{{ lesson.title }}</h4>
                    <p class="card-body">{{ lesson.description }}</p>
                </div>
            </div>
            {% if activeSlide > 1 %}                    
                <div class="progress mx-4 mt-4" style="background-color: white;">
                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ percentComplete }}%;" aria-valuenow="{{ percentComplete }}" aria-valuemin="0" aria-valuemax="100">{{ percentComplete }}% completed</div>
                </div>
                <a class="btn btn-primary m-4" href="/lessons/{{ lesson.lesson_order }}/slide/{{ activeSlide }}" role="button">Continue lesson</a>
                <a class="btn btn-secondary mx-4 mb-4" href="/lessons/" role="button">View all lessons</a>
            {% else %}
                <div class="progress mx-4 mt-4">
                    <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                        <span style="color: black;">
                            Lesson progress: not started
                        </span>
                    </div>
                </div>    
                <a class="btn btn-primary m-4" href="/lessons/{{ lesson.lesson_order }}/slide/{{ activeSlide }}" role="button">Start lesson</a>
                <a class="btn btn-secondary mx-4 mb-4" href="/lessons/" role="button">View all lessons</a>
            {% endif %}
        </div>
    </div>
    <div class="col-lg mt-4">
        <div class="card">
            <h2 class="card-title m-4" style="text-align: center;">My Achievements</h2>
            <p class="card-body m-4">I have completed {{ courseProgress }}% of the course!</p>
        </div>
    </div>
</div>

{% endblock %}