{% extends 'base.html' %}

{% block content %}
<h1 class="display-3 text-center pt-5">{{title}}</h1>

{% for lesson in lessons %}
    <div class="row p-4">
        <div class="col-sm-4">
            {% if lesson.image %}
                <img src="{{ lesson.image.url }}" alt="Image" class="img-thumbnail rounded">
            {% endif %}
        </div>
        <div class="col-sm-8">
            <h2>Lesson {{ lesson.lesson_order }}: {{ lesson.title }}</h2>
            <p>{{ lesson.description }}</p>
            {% if role == 'student' %}
                {% if nextLesson > lesson.lesson_order %}
                    <a class="btn btn-primary" href="/lessons/{{ lesson.lesson_order }}/slide/1" role="button">Review lesson</a>
                    <div class="progress mt-4">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                    </div>
                {% elif nextLesson == lesson.lesson_order %}
                    {% if nextSlide > 1 %}
                        <a class="btn btn-primary" href="/lessons/{{ lesson.lesson_order }}/slide/{{ nextSlide }}" role="button">Continue lesson</a>
                        <div class="progress mt-4">
                            <div class="progress-bar bg-success" role="progressbar" style="width: {{ percentComplete }}%;" aria-valuenow="{{ percentComplete }}" aria-valuemin="0" aria-valuemax="100">{{ percentComplete }}%</div>
                        </div>
                        {% else %}
                        <a class="btn btn-primary" href="/lessons/{{ lesson.lesson_order }}/slide/{{ nextSlide }}" role="button">Start lesson</a>
                        <div class="progress mt-4">
                            <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>    
                    {% endif %}
                {% else %}
                    <button type="button" class="btn btn-primary" disabled>Lesson locked</button>
                    <div class="progress mt-4">
                        <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                {% endif %}
            {% else %}
                <a class="btn btn-primary" href="/lessons/{{ lesson.lesson_order }}/slide/1" role="button">View lesson</a>
            {% endif %}
        </div>
    </div>

{% endfor%}
{% endblock %}
