{% extends 'base.html' %}

{% block content %}
    <h1 class="display-3 text-center pt-5">{{ lesson.title }}</h1>
    <h2 class="text-center pt-5">{{ slide.title }}</h2>

    <p>{{ slide.bodyText }}</p>

    {% if role == 'student' %}
        <button type="button" class="btn btn-success" id="progressbutton">I'm ready</button>

        <hr>

        {% if current_slide > 1 %}
            <a class="btn btn-primary" href="/lessons/{{ lesson.lesson_order }}/slide/{{ previous_slide }}" role="button">Previous slide</a>
        {% else %}
            <button type="button" class="btn btn-primary" disabled>Previous slide</button>
        {% endif %}

        {% if is_final_slide %}
            {% if next_slide_is_available == False %}
                <button type="button" class="btn btn-primary float-right" onclick="startNextLesson()" id="continuebutton" disabled>
                    Next lesson
                </button>
            {% else %}
                <button type="button" class="btn btn-primary float-right" onclick="startNextLesson()" id="continuebutton">
                    Next lesson
                </button>
            {% endif %}
        {% else %}
            {% if next_slide_is_available == False %}
                <button type="button" class="btn btn-primary float-right" onclick="goToNextSlide()" id="continuebutton" disabled>
                    Next slide
                </button>
            {% else %}
                <button type="button" class="btn btn-primary float-right" onclick="goToNextSlide()" id="continuebutton">
                    Next slide
                </button>
            {% endif %}
        {% endif %}
    {% else %}
        {% if current_slide > 1 %}
            <a class="btn btn-primary" href="/lessons/{{ lesson.lesson_order }}/slide/{{ previous_slide }}" role="button">Previous slide</a>
        {% else %}
            <button type="button" class="btn btn-primary" disabled>Previous slide</button>
        {% endif %}

        {% if is_final_slide %}
            <button type="button" class="btn btn-primary float-right" onclick="startNextLesson()" id="continuebutton">
                Next lesson
            </button>
        {% else %}
            <button type="button" class="btn btn-primary float-right" onclick="goToNextSlide()" id="continuebutton">
                Next slide
            </button>
        {% endif %}
    {% endif %}


    <form action="">
        {% csrf_token %}
    </form>
    
    <hr>

    <a class="btn btn-primary" href="/lessons/" role="button">Back to index</a>
{% endblock %}

{% block javascript %}
<script>
    function goToNextSlide() {
        window.location.href='/lessons/{{ lesson.lesson_order }}/slide/{{ next_slide }}';
    }

    function startNextLesson() {
        window.location.href='/lessons/{{ next_lesson }}/slide/1';
    }

    document.getElementById("progressbutton").addEventListener("click", function() {
        if(document.getElementById("continuebutton").disabled) {
            document.getElementById("continuebutton").disabled = false;
        
            var CSRFtoken = $('input[name=csrfmiddlewaretoken]').val();
     
            $.post('../../ajax/updateprogress/', {
                csrfmiddlewaretoken: CSRFtoken
            });
        }
    });
</script>
{% endblock %}
