{% extends 'base.html' %}

{% block content %}

<div class="sidenav">
    <h3>Lesson {{ lesson.lesson_order }}</h3>
    <p>{{ lesson.title }}</p>
    {% for s in slides %}
        {% if s == slide %}
            <strong><a href="#">{{ s.position }}. {{ s.title }}</a></strong>
        {% else %}
            {% if activeLesson == lesson.lesson_order %}
                {% if activeSlide < s.position %}
                    <a href="#" style="color:rgb(167, 167, 167)">{{ s.position }}. {{ s.title }}</a>
                {% else %}
                    <a href="/lessons/{{ lesson.lesson_order }}/slide/{{ s.position }}" style="color:bisque;">{{ s.position }}. {{ s.title }}</a>
                {% endif %}
            {% else %}
                <a href="/lessons/{{ lesson.lesson_order }}/slide/{{ s.position }}" style="color:bisque;">{{ s.position }}. {{ s.title }}</a>
            {% endif %}
        {% endif %}
    {% endfor %}
    <a class="btn btn-secondary mt-4" href="/lessons/" style="width: 80%; margin: auto; text-align: left;" role="button">Back to index</a>
</div>

<div class="main" id="mainContent">

    <!-- This is how to embed youtube videos
        <iframe id="interactiveContent" class="my-3" width="700" height="400" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
    -->

    <iframe class="my-3" width="800" height="600" src="../../../games/demogame/" frameborder="0"></iframe>

    <p>{{ slide.bodyText }}</p>

    {% if role == 'student' %}
        <button type="button" class="btn btn-success" id="progressbutton">I'm ready</button>

        <hr>

        {% if current_slide > 1 %}
            <a class="btn btn-primary" href="/lessons/{{ lesson.lesson_order }}/slide/{{ previous_slide }}" role="button">Previous slide</a>
        {% else %}
            <button type="button" class="btn btn-primary" disabled>Previous slide</button>
        {% endif %}

        {% if is_final_slide %}
            {% if next_slide_is_available == False %}
                <button type="button" class="btn btn-primary float-right" onclick="startNextLesson()" id="continuebutton" disabled>
                    Next lesson
                </button>
            {% else %}
                <button type="button" class="btn btn-primary float-right" onclick="startNextLesson()" id="continuebutton">
                    Next lesson
                </button>
            {% endif %}
        {% else %}
            {% if next_slide_is_available == False %}
                <button type="button" class="btn btn-primary float-right" onclick="goToNextSlide()" id="continuebutton" disabled>
                    Next slide
                </button>
            {% else %}
                <button type="button" class="btn btn-primary float-right" onclick="goToNextSlide()" id="continuebutton">
                    Next slide
                </button>
            {% endif %}
        {% endif %}
    {% else %}
        {% if current_slide > 1 %}
            <a class="btn btn-primary" href="/lessons/{{ lesson.lesson_order }}/slide/{{ previous_slide }}" role="button">Previous slide</a>
        {% else %}
            <button type="button" class="btn btn-primary" disabled>Previous slide</button>
        {% endif %}

        {% if is_final_slide %}
            <button type="button" class="btn btn-primary float-right" onclick="startNextLesson()" id="continuebutton">
                Next lesson
            </button>
        {% else %}
            <button type="button" class="btn btn-primary float-right" onclick="goToNextSlide()" id="continuebutton">
                Next slide
            </button>
        {% endif %}
    {% endif %}


    <form action="">
        {% csrf_token %}
    </form>
    
</div>


{% endblock %}

{% block javascript %}
<script>
    function goToNextSlide() {
        window.location.href='/lessons/{{ lesson.lesson_order }}/slide/{{ next_slide }}';
    }

    function startNextLesson() {
        window.location.href='/lessons/{{ next_lesson }}/slide/1';
    }

    function enableNextSlide() {
        if(document.getElementById("continuebutton").disabled) {
            document.getElementById("continuebutton").disabled = false;
        
            var CSRFtoken = $('input[name=csrfmiddlewaretoken]').val();
     
            $.post('../../ajax/updateprogress/', {
                csrfmiddlewaretoken: CSRFtoken
            });
        }
    }

    document.getElementById("progressbutton").addEventListener("click", function() {
        enableNextSlide();
    })
</script>
{% endblock %}
